<p fundoAmarelo>
  Texto com fundo amerelo.
</p>

<p highlightMouse>
  Texto com highlight quando passo o mouse.
</p>

<!--
  Esta é a forma padrão de utilizar uma diretiva com @Input properties de forma separada, a diretiva
  e as input properties separadas.
<p highlight [defaultColor]="'grey'" [highlightColor]="'red'">
  Texto com highlight com cores customizadas.
</p>
-->

<p [highlight]="'red'" [defaultColor]="'grey'" >
  Texto com highlight com cores customizadas.
</p>

<div *ngIf="mostrarCursos">
  Lista de cursos aqui.
</div>
<!-- Essa é um forma de utilizar uma diretiva estrutural customizada -->
<div *ngElse="mostrarCursos">
    Não existem cursos na lista.
</div>

<br>

<button (click)="onMostrarCursos()">Mostrar Curso</button>

<br>

<template [ngElse]="mostrarCursos">
  <div>Não existem cursos na lista.</div>
</template>
