<!--
<app-diretiva-ngif></app-diretiva-ngif>
-->
<!--
<app-diretiva-ngswitch></app-diretiva-ngswitch>
-->
<!--
<app-diretiva-ngfor></app-diretiva-ngfor>
-->
<!--
<app-diretiva-ngclass></app-diretiva-ngclass>
-->

<!--
<app-diretiva-ngstyle></app-diretiva-ngstyle>
-->

<!--
<app-operador-elvis></app-operador-elvis>
-->

<!--
<app-exemplo-ng-content>
  também é possível passar outros componentes para ser renderizado como o conteúdo da tag ng-content
  <div class="title">Título</div>
  <div class="body">Este conteúdo será renderizado dentro da tag ng-content que tem o atributo select com o valor: .body</div>
</app-exemplo-ng-content>
-->

<app-diretivas-customizadas></app-diretivas-customizadas>
