<h5>*ngIf</h5>
<div *ngIf="mostrarCursos;else mensagem">
  Lista de cursos aqui
</div>
<ng-template #mensagem>
  <div>
    Não existem cursos na lista
  </div>
</ng-template>

<br>

<button (click)="onMostrarCursos()">Mostrar Curso</button>

<br>

<h5>hidden como alternativa</h5>
<div [hidden]="!mostrarCursos">
  Lista de cursos aqui
</div>
<div [hidden]="mostrarCursos">
  Não existem cursos na lista
</div>

<!-- explicação sobre o motivo de utilizar-mos o * nas diretivas apresentadas -->
<!-- por debaixo dos panos o angular utiliza a sintaxe abaixo -->
<ng-template [ngIf]="mostrarCursos">
  <div>Lista de cursos aqui</div>
</ng-template>

<div template="ngIf mostrarCursos">
  <div>Lista de cursos aqui</div>
</div>